@import url('animations.css');

:root {
    --primary: #dddddd;
    --secondary: black; 
    --myPurple: #7953cd;
    --myBlue: #00affa;
}



body {
    font-family: 'Helvetica', sans-serif;
    color: var(--primary);
    background-color: var(--secondary);
}

a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color:  var(--myBlue);
    text-decoration: none;
}

a:visited {
    color: var(--myBlue);
}

a:hover {
    background: linear-gradient(
        315deg,
        var(--myBlue) 20%,
        var(--myPurple) 30%,
        var(--myPurple) 70%,
        var(--myBlue) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 1s ease-in-out infinite reverse;
}

a:before {
    content: '[';
}

a::after {
    content: ']';
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 24px;
    text-align: left;
    margin: 0;
}

h3 {
    margin: 0;
    font-size: 16px;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
    filter: blur(16px);
    opacity: 0.75;
    transform: scale(1.1);
}

header, nav, section, footer {
    position: relative;
    z-index: 1;
}


section {
    z-index: 1;
    width: 100%;
}


.name {
    font-size: 48px;
    margin: 0;
}

.name-card {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 90%;
}

.name-card-item {
    flex: 1;
    margin: 0;
    padding: 0;
}

.name-card-item.name {
    text-align: center;

    background: linear-gradient(
        315deg,
        var(--myBlue) 20%,
        var(--myPurple) 30%,
        var(--myPurple) 70%,
        var(--myBlue) 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 8s ease-in-out infinite reverse;
}

.name-card-item.external-links {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    gap: 24px;

}

.external-link {
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 1200px;
    margin: 12px auto;
    backdrop-filter: blur(32px);
    padding: 16px;
    border: 2px solid var(--primary);
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.8);
}


.item {
    width: 90%;
    text-align: center;
    margin: 12px;
}

.job {
    width: 90%;
    padding: 0;
    margin: 12px;
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.job-position {
    margin: 0;
}

.school {
    width: 90%;
    padding: 0;
    margin: 12px;
}

.school-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}
