body {

    background-color: black;
    color: white;
    position: static;
    font-size: 40px;
    min-height: 200vh;
    transition: all 0.1s ease-out;
    
}

.light-mode {
    background-color: white;
    color: black;
}
