.dark-mode {
    transition: all 0.1s ease-out;
    background-color: #000000;
    color: #ffffff;
}

.light-mode {
    transition: all 0.1s ease-out;
    background-color: #ffffff;
    color: #000000;
}