
.menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    height: 40px;
    width: 80vw;
    max-width: 512px;
    overflow: hidden;
    margin: auto;
    left: 0;
    right: 0;
    backdrop-filter: blur(16px);
    border-radius: 12px;
    box-shadow: 0px 0px 4px 4px var(--dark-shadow);
}

.menu-bar.light-mode {
    background-color: transparent;
    box-shadow: 0px 0px 4px 4px var(--light-shadow);
}

.menu {
    margin: 2% 3%;
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    color: white;
    display: flex;
}

.menu.light-mode {
    color: black;
}

.menu:hover {
    opacity: 0.5;
}

button a {
    cursor: default;
    text-decoration: none;
    color: inherit;
}
